<VirtualHost *:80>

	DocumentRoot /var/www
    Alias /diconf/ /var/www/diconf	
    <Directory /var/www/diconf>
		Options Indexes FollowSymLinks MultiViews
		AllowOverride None
		Order allow,deny
		allow from all
	</Directory>
	<FilesMatch ".tar.gz$">
        AllowOverride None
        Order deny,allow
        Deny from all
        Allow from ###_SE4AD_IP_###
        Allow from ###_SE4FS_IP_###
    </FilesMatch>
	ErrorLog /var/log/apache2/error.log
</VirtualHost>
