body	{
	background: url(/lcs/fdecran/annuaire.jpg) ghostwhite 80% 10% no-repeat fixed;
	color: #404044;
	margin: 2%;
	margin-left: 60px;
	margin-right: 6%;
	font-family: arial, helvetica,sans-serif;
	text-align: justify;
	}
a {
    text-decoration: none;
    color: #000099;
    background-color: #ffffff;
    font-weight: normal;
}
a:hover {
    color: #99CCFF;
    background-color: #ffffff;
    font-weight: bolder;
}

a:link	{color: #0080ff;}

a:hover	{
	color: #ff8f00;
	text-decoration: underline;
	}

a:visited {color: #0080ff;}

td {
    font-family: arial, helvetica,sans-serif;
   }

address {
	text-align: right;
	font-size: small;
	}

h1 {
	text-align: center;
	color: #00599b;
	}

h1.navigation {
	text-align: left;
	font-size: medium;
	}

h1.title {
	margin-top: 1%;
	margin-bottom: 3%;
	text-align: center;
	font-size: x-large;
	color: #00599b;
}

h1.section {
	font-size: large;
	text-align: left;
	color: #00599b;
	background-color: LightSteelBlue;
	}

h2 {
	color: #00599b;
	font-size: large;
}

h2.subtitle {
	margin-top: -3%;
	margin-bottom: 3%;
	text-align: center;
	font-size: small;
	font-weight: normal;
	color: #00599b;
}

h3 {
	font-size: large;
	font-weight: normal;
	color: #00599b;
	}

h3.author {
	text-align: right;
	font-size: medium;
	margin-left: -2%;
	color: #00599b;
	}

h4 {
	color: #00599b;
	font-size: medium;
	}

h5 {
	color: #00599b;
	font-size: medium;
	font-weight: normal;
	}

h6 {
	color: #00599b;
	font-size: small;
	}

p {
	text-indent: 1em;
	}

div.affiliation {
	text-align: right;
	font-size: x-small;
	}

div.address {
	font-style: oblique;
	}

div.error_msg {
      text-align: center;
      color: #ff8f00;
      font-size: medium;
      font-weight: bold;
      font-family: arial, helvetica,sans-serif;
      }

div.alert_msg {
      text-align: center;
      color: #ff8f00;
      font-size: medium;
      font-family: arial, helvetica,sans-serif;
      }

span.orgname {
	font-weight: bold;
	}

span.orgdiv {
	font-weight: bold;
	}

span.acronym {
	font-style: italic;
	font-weight: bold;
	}

span.abbrev {
	font-variant: small-caps;
	}

i.emphasis {
	font-style: italic;
	background-color: #f0f0f0;
	}

tt.computeroutput {
	font-weight: bold;
	}

tt.filename {
	font-family: monospace;
	font-size: 120%;
	}

p.copyright {
	text-align: right;
	font-size: x-small;
	}

dt {
	font-style : italic;
	font-weight: bold;
	}

pre.screen {
	font-family: courier, monospace;
	margin-right: 2em;
	margin-left: 2em;
	padding-left: 1em;
	padding-right: 1em;
	background-color: lightgrey;
	font-weight: bold;
	color: black;
}

pre.programlisting {
	font-family: courier, monospace;
	border-style: ridge outset;
	border-color: navy;
	margin-right: 1em;
	margin-left: 2em;
	padding-left: 1em;
	padding-right: 1em;
	background-color: lightgrey;
/*	color: AntiqueWhite4; */
	color: black;
}

div.abstract {
	margin-left: 2%;
	}

blockquote.note {
	color: gray;
	}
