Source: sambaedu
Section: net
Priority: optional
Maintainer: Denis Bonnenfant <denis.bonnenfant@sambaedu.org>
Build-Depends: debhelper (>=9)
Standards-Version: 3.9.6
Homepage: https://sambaedu.org
#Vcs-Git: https://github.com/SambaEdu/se4.git


Package: sambaedu-config
Architecture: all
Depends:  ${misc:Depends}
Description: infrastructure de configuration Sambaedu.
 Configuration de l'infrastructure serveurs sambaedu. Le kit samba-edu est un  ensemble de scripts et de fichiers de configuration permettant de fournir aux etablissements scolaires une configuration "cle en main" d'un serveur Samba Active Directory DC.

Package: sambaedu-boot-server
Architecture: all
Depends:  ${misc:Depends}, tftp, ipxe, isc-dhcp-server, apache2, sambaedu-config
Description: configuration minimale dhcp et tftp permettant la configuration sambaedu et le boot ipxe.
 Assistance a l'installation d'un serveur de fichiers Samba. Le kit samba-edu est un ensemble de scripts et de fichiers de configuration permettant de fournir aux etablissements scolaires une configuration "cle en main" d'un serveur Samba Active Directory DC.

Package: sambaedu-ad-dc
Architecture: all
Depends:  ${misc:Depends}, sambaedu-boot-server
Description: configuration d'une machine virtuelle ou conteneur pour le DC sambaedu.
 Configuration d'un serveur controleur de domaine AD samba. Ce paquet contient des scripts de configuration lxc ou preseed pour creer une machine distincte. Ce paquet sera en erreur tant que le controleur de domaine ne sera pas actif.  Le kit samba-edu est un ensemble de scripts et de fichiers de configuration permettant de fournir aux etablissements scolaires une configuration "cle en main" d'un serveur Samba Active Directory DC.

