body	{
	color: #404044;
	font-family: sans-serif;
	text-align: justify;
}

.menuheader {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #333333;
	border: 1px #333333 solid;
    background: #6699CC url(../images/menuback.png);    
    background-position:center center;
}

.menuheader:hover {
    background: #6699CC url(../images/menubackover.png);  
    background-position:center center;
}

.enabledheader {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #333333;
	border: 1px #333333 solid;
	background-color: #6699CC;
	clip:  rect(   );
}
.menucell {
	font-family: "Comic Sans MS", "Trebuchet MS", Verdana, Arial, sans-serif;
	font-size: 13px;
	font-weight: normal;
	color: #333333;
	background-color: #f8f8ff;
	border: 1px #333333 solid;
}
h1 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 24px;
	font-weight: bold;
    color: #FFFFFF;
    text-shadow: 1px 1px 1px #000000;
    background: #6699CC url(../images/menuback.png);    
    background-position:center center;
	text-align: center;
}
h2 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 18px;
	font-weight: bold;
	color: #333333;
}
h3 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #6699CC;
	font-weight: bold;
	letter-spacing: 4px;
}

a:link  {color: #0080ff; text-decoration: none; }

a:hover {
	color: #ff8f00;
	text-decoration: underline;
}

a:link {color: #0080ff; text-decoration: none; }

a:visited {color: #0080ff;text-decoration: none; }

.menuinfocell { font-family: "Trebuchet MS", Verdana, Arial, sans-serif; font-size: 12px; font-weight: normal; color: #333333; background-color: #CC9999; border: 1px #333333 solid; }

.infocell a:link {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #CCCCCC;
}
.menuheader a:link { color: #333333;text-shadow: 0px 1px 0px #e5e5ee;}
.menuheader a:visited { color: #333333;text-shadow: 0px 1px 0px #e5e5ee;}
.menuheader a:hover { color: #686868;text-shadow: 0px 1px 0px #e5e5ee;}
.enabledheader a:link { color: black}
.enabledheader a:visited { color: black}
.enabledheader a:hover { color: #333333}
.menucell a:link { color: #333333}
.menucell a:visited { color: #333333}
.menucell a:hover { background-color: #333333; color: #999999}

div.error_msg {
	text-align: center;
	color: #ff8f00;
	font-size: medium;
	font-weight: normal;
	font-family: arial, helvetica,sans-serif;
}

div.alert_msg {
	text-align: center;
	color: #ff8f00;
	font-weight: bold;
	font-family: arial, helvetica,sans-serif;
}
pre.screen {
	font-family: monospace;
	border-style: ridge outset;
	border-color: navy;
	margin-right: 1em;
	margin-left: 2em;
	padding-left: 1em;
	padding-right: 1em;
	background-color: lightgrey;
/*       color: AntiqueWhite4;*/
	color: black;
}
dl, dt, dd {
	margin: 0;
	padding: 0;
	list-style-type: none;
	height: 25px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #333333;
	width: 200px;
}
.ssmenu{
	font-family: "Comic Sans MS", "Trebuchet MS", Verdana, Arial, sans-serif;
	font-size: 13px;
	font-weight: normal;
	color: #333333;
	background-color: #f8f8ff;
	margin: 0;
	padding: 0;
	list-style-type: none;
	height: 20px;
	width: 200px;
}
#menu {
	position: absolute;
	top: 25px;
	left: 5%;
	z-index: 100;
	width: 100%; /* correction pour Opera */
}
#menu dl {
	float: left;
}
#menu dt {
	cursor: pointer;
	text-align: center;
	font-weight: bold;
	background: #6699CC;
/*	margin: 1px;*/
border: 1px #333333 solid;

}
#menu dd {
	display: none;
	background: transparent;
}
#menu li {
	text-align: center;
	background: transparent;
	height: 25px;
	border: 1px solid Black;
	margin: 0;
	padding: 0;
	list-style-type: none;
	height: 25px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #333333;
	width: 200px;
}
#menu li a, #menu dt a {
	color: #000;
	text-decoration: none;
	display: block;
	height: 100%;
	border: 0 none;
}
#menu li a:hover, #menu li a:focus, #menu dt a:hover, #menu dt a:focus {
	color: #333333;
}
#main{
	position: absolute; /* placement du menu, à modifier selon vos besoins */
	top: 130px;
}
#dock {
    width: 100%;
    position: relative;
}
.dock-container {
    position: absolute;
    height: 50px;
    padding-left: 20px;
}
a.dock-item {
    display: block; 
    font: bold 12px Arial, Helvetica, sans-serif;
    width: 40px; 
    color: #000; 
    bottom: 15px; 
    position: absolute;
    text-align: center;
    text-decoration: none;
}
.dock-item span {
    display: none;
    background: #ffffff;
    opacity: 0.8;
}
.dock-item img {
    border: none;
    margin: 5px 10px 0px; 
    width: 100%; 
}
