#!/bin/sh -e

# pose les questions de base pour la  conf sambedu

# on charge le fichier si il existe
CONFIGFILE=/etc/sambaedu/sambaedu.conf
if [ -e $CONFIGFILE ]; then
. $CONFIGFILE || true

# Source debconf library.
. /usr/share/debconf/confmodule

# question1
db_input sambaedu/smb4_domain || true
# question1
db_input sambaedu/suffix_domain || true
db_go


# question1
db_input sambaedu/se4adip || true
# question1
db_input sambaedu/se4fsip || true
db_go

